; File names for a configs of checkers
[checker_cfg_name]

jscs = .jscsrc
jshint = .jshintrc
csscomb = .csscombrc
phpcs = phpcs.xml
pylint = .pylintrc

; Executable names (relative or absolute)
[exe]

jscs = jscs
jshint = jshint
csscomb = csscomb
phpcs = phpcs
phpcbf = phpcbf
pylint = pylint
pep8 = pep8
autopep8 = autopep8

[path]

default_standard_dir =
